

/* ============= */
/* Chord Display */
/* ------------- */

.chordDisplay {
    /* Sizes */
    width: 500px;
    height: 175px;
    font-size: 72px;

    /* Style */
    box-shadow: 0px 5px 25px 1px var(--gray-vvvdark);
    border: 2px solid var(--blue);
    border-radius: 18px;

    /* Vertically center the text */
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* ============ */
/* Progress Bar */
/* ------------ */

.progressContainer {
    width: 500px;
    height: 8px;
    margin-top: 30px;
}
.progressRemaining {
    background: var(--blue);
    border-radius: 5px;
    width: 50%;
    height: 100%;
}
.progressRemaining.midi {
    transition: 0.2s width;
}

/* Show feedback to user for valid/invalid MIDI input attempts. */
@keyframes flashRed {
    0%   { background-color: var(--blue); width: 100%; }
    50%  { background-color: red;       width: 100%; }
    100% { background-color: var(--blue); width: auto; }
}
@keyframes flashGreen {
    0%   { background-color: var(--blue); width: 100%; }
    50%  { background-color: green;     width: 100%; }
    100% { background-color: var(--blue); width: auto; }
}
.flashRed {
    animation: flashRed 0.5s;
    transition: 0s width;
}
.flashGreen {
    animation: flashGreen 0.5s;
    transition: 0s width;
}


/* ================= */
/* Chord Description */
/* ----------------- */

.chordDescription {
    position: absolute;
    width: 500px;
    margin-top: 40px;
    color: var(--gray);
}