
.breadcrumbs {
    color: var(--gray);
    position: fixed;
    top: 10px;
    left: 10px;
}
.breadcrumb {
    background: none;
    padding: 10px;
    font-weight: normal;
    color: var(--gray);
}
span.breadcrumb {
    font-weight: bold;
}
button.breadcrumb:hover {
    background: none;
    color: var(--gray-vlight);
    text-decoration: underline;
}

.chordDisplay {
    /* Sizes */
    width: 500px;
    height: 175px;
    font-size: 72px;

    /* Style */
    box-shadow: 0px 5px 25px 1px var(--gray-vvvdark);
    border: 2px solid var(--blue);
    border-radius: 18px;

    /* Vertically center the text */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timeContainer {
    width: 500px;
    height: 8px;
    margin-top: 30px;
}
.timeRemaining {
    background: var(--blue);
    border-radius: 5px;
    width: 50%;
    height: 100%;
}