
:root {
  --blue-light: #4666B9;
  --blue: #324167;
  --blue-dark: #303950;
  --blue-vdark: #2B3245;

  --gray-vlight: #E2E4E9;
  --gray-light: #B8BCC7;
  --gray: #9BA1B0;
  --gray-dark: #5E626E;
  --gray-vdark: #2D3039;
  --gray-vvdark: #22252C;
  --gray-vvvdark: #121317;
}

* {
  box-sizing: border-box;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  background: var(--gray-vvdark);
  color: var(--gray-vlight);
  font-family: Helvetica, Arial, sans-serif;

  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 1280px;
  text-align: center;
}


/* =========== */
/* Breadcrumbs */
/* ----------- */

.breadcrumbs {
    color: var(--gray);
    position: fixed;
    top: 10px;
    left: 10px;
}
.breadcrumb {
    background: none;
    padding: 10px;
    font-weight: normal;
    color: var(--gray);
}
span.breadcrumb {
    font-weight: bold;
}
button.breadcrumb:hover {
    background: none;
    color: var(--gray-vlight);
    text-decoration: underline;
}


/* =============== */
/* Form Components */
/* --------------- */

.labelBefore {
  margin-right: 20px;
  font-weight: bold;
}
.formLine {
  text-align: left;
}

/* -- Dropdowns -- */

select {
  background: var(--blue-dark);
  color: var(--gray-vlight);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  border: none;
  outline: none;
  border-radius: 8px;

  padding: 10px 15px;
  /* This adds "padding" to the right of the default arrow */
  border-right: 15px solid transparent;
}
select:hover {
  background: var(--blue-vdark);
}
option,optgroup {
  background-color: var(--gray-vvdark);
}

/* -- Checkboxes and Radio buttons -- */

input:is([type=checkbox],[type=radio]) {
  position: relative;
  margin-right: 20px;
}

input:is([type=checkbox],[type=radio])::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: -6px;
  top: -6px;
  background: var(--blue-dark);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}
input[type=radio]::before {
  border-radius: 12px;
}

input:is([type=checkbox],[type=radio]) ~ label:first-of-type {
  cursor: pointer;
}

input:is([type=checkbox],[type=radio]):hover::before {
  background: var(--blue-vdark);
}

input:is([type=checkbox],[type=radio]):checked::before {
  content: '✔';
  color: var(--gray-vlight);
  font-size: 32px;

  /* Vertically centers the check */
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=radio]:checked::before {
  content: '●';
  font-size: 27px;
}

input:is([type=checkbox],[type=radio]):disabled::before {
  background: var(--gray-vvdark);
  border: 1px solid var(--blue-dark);
  cursor: not-allowed;
  color: var(--gray-dark);
}
input:is([type=checkbox],[type=radio]):disabled ~ label:first-of-type {
  color: var(--gray-dark);
  cursor: not-allowed;
}

/* -- Textboxes -- */

input[type=text],input[type=number] {
  background: var(--blue-dark);
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: var(--gray-vlight);
  font-size: 16px;
  transition: background-color 0.2s;
}
input[type=text]:hover,input[type=number]:hover {
  background: var(--blue-vdark);
}

/* -- Buttons -- */

button {
  background: var(--blue-light);
  font-size: 16px;
  font-weight: bold;
  color: var(--gray-vlight);
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: var(--blue);
}
button.btn-link       { background: none; font-weight: normal; }
button.btn-link:hover { text-decoration: underline; }
button:disabled {
  cursor: not-allowed;
  background: var(--blue);
  color: var(--gray);
}