
:root {
  --blue-light: #4666B9;
  --blue: #303950;
  --blue-dark: #22252C;
  --blue-vdark: #121317;

  --gray-vlight: #E2E4E9;
  --gray-light: #B8BCC7;
  --gray: #9BA1B0;
  --gray-vdark: #2D3039;
}

* { box-sizing: border-box; }

body {
  background: var(--blue-dark);
  color: var(--gray-vlight);
  font-family: Helvetica, Arial, sans-serif;

  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 1280px;
  text-align: center;
}
